.mainContainer {
  background-color: #fff;
  border-radius: 9px;
  grid-template:
    "nav nav" 5rem
    "aside recipeDetail" minmax(100rem, auto) / 1fr 2fr;
  max-width: 76rem;
  min-height: 100rem;
  margin: 4vw auto;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
}
.recipeDetail {
  grid-area: recipeDetail;
  background: var(--themeLightBackground);
}
.nav {
  background: #f9f5f3;
  grid-area: nav;
}
.aside {
  grid-area: aside;
}

@media only screen and (width <=61.25em) {
  .mainContainer {
    border-radius: 0;
    max-width: 100%;
    margin: 0;
    grid-template:
      "nav nav" 6rem
      "recipeDetail recipeDetail" minmax(100rem, auto) / 1fr 2fr;
  }

  .aside {
    display: none;
  }
}

/* html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (width <=61.25em) {
  html {
    font-size: 50%;
  }
} */

/* @media only screen and (width <=61.25em) {
  .container {
    border-radius: 0;
    max-width: 100%;
    margin: 0;
  }
} */

/* .container {
  background-color: #fff;
  border-radius: 9px;
  grid-template:
    "head head" 10rem
    "list recipe" minmax(100rem, auto) / 1fr 2fr;
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
} */
