#navbar {
  height: 5rem;
}

.inputSearchElement::placeholder {
  color: #d3c7c3;
  font-size: 1.1rem;
}
.inputSearchElement:focus {
  /* border: none; */
  outline: none;
}
.inputSearch {
  width: 30rem;
  /* max-width: 20rem; */
}
/* .inputSearchElement {
  max-width: 30rem;
} */
/* .searchBtn {
  background: linear-gradient(to bottom right, #fbdb89, #f48982);
} */
.searchBtn:hover {
  transform: scale(1.05);
  transition: all 0.2s;
}
/* .logo {
  object-fit: contain;
  background:;
} */

.navBtn {
  /* background: #f9f5f3; */
  background: var(--themeLightBackground);
  font-size: 1.1rem;
  /* padding: 2rem; */
}

.navBtn:hover {
  background: #f2efee;
  /* background-color: red; */
}

@media (width <= 1400px) {
  .navBtn {
    padding: 1.5rem;
    font-size: 1rem;
  }
  .searchBtn {
    font-size: 0.8rem;
  }
}

/* .bookMark:hover:after {
  position: relative;
  content: " ";
  height: 22px;
  width: 22px;
  background-color: darkblue;
  top: 0;
  left: 0;
} */
.bookmarkHoverContent {
  position: absolute;
  top: 90px;
  right: 0;
  background-color: chocolate;
  z-index: 50;
}
