.previewImage {
  width: 48px;
  height: 48px;
}

.previewTitle {
  color: var(--themeFont);
  font-size: 0.8rem;
}

.previewPublisher {
  font-size: 0.7rem;
}

.previewRecipe:hover {
  background: var(--themeLightBackground);
}
