body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #fbdb89, #f48982);
  background-repeat: no-repeat;
  background-size: cover;
  /* color: #615551; */
  /* TODO: */
  color: aqua;
  min-height: calc(100vh - 8vw);
}

:root {
  --themeFont: #f38e82;
  --themeLightBackground: #f9f5f3;
}

.pointer {
  cursor: pointer;
}
