html {
  box-sizing: border-box;
  /* font-size: 90.5%; */
}

@media only screen and (width <=61.25em) {
  html {
    font-size: 82.5%;
    /* font-size: 50%; */
  }
}

body {
  color: #615551;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: calc(100vh - 8vw);
  /* font-weight: 400; */
  line-height: 1.6;
}

:root {
  --themeFont: #f38e82;
  --themeLightBackground: #f9f5f3;
}

.pointer {
  cursor: pointer;
}

.btnBackground {
  background: linear-gradient(to bottom right, #fbdb89, #f48982);
}
